
.choice img {
    width: 60px !important;
    height: 60px;
    border-radius: 100%;
    background-color: white;
    padding: 5px;
    border: 4px solid #333333;
    margin-right: 10px;
}
.choice img:active{
    background-color:#626078;
}

.choice img:hover{
	cursor: pointer;
    background-color:#86849d;
}
* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color:#110F26;
	color: white;
}
.choices {
    margin: 10px;
    display: flex; /* or inline-flex */
    flex-direction: row;
    justify-content: center;
    min-height: 100px;
}

.score-board{
	width: 200px;
	border:2px solid white;
	text-align: center;
	margin:20px auto; /*top and bottom 20 px and centre it*/
	padding: 20px 20px;
	font-size: 40px;
	position: relative;
	transition: 0.3s ease-in;
}

.score-board:hover{
	background-color: #323042;
}
.badge{
	background-color: #3aa330;
	padding: 2px 20px;
	font-size: 20px;
}
#user-label{
	position: absolute;
	top:20px;
	left: -30px;
}
#comp-label{
	position: absolute;
	top: 20px;
	right: -45px;
}
.result{
	font-size: 40px;
	text-align: center;
	color: white;
}

.info-game {
    width: 100%;
    background: white;
    color: #110F26;
    padding: 20px;
    text-align: center;
}

.info-game {
    background-color: transparent;
    color: rgb(22, 42, 223);
    font-size: 24px;
}


  