
<div class="score-board">
  <div id="user-label" class="badge">Usu.</div>
  <div id="comp-label" class="badge">Comp.</div>
  <span id="user-score">{{ pointsUser }}</span>:<span id="comp-score">{{ pointsComp }}</span>
</div>
<p class="info-game">{{result}}</p>
<div class="choice"> <img  src="../assets/numeros/{{WinBalota}}.png" alt=""> </div>


  <table>
    <tr >
      <td *ngFor="let balota of arraydeapuesta">
        <div class="choices">
          <div class="choice"> <img  src="../assets/numeros/{{balota}}.png" alt=""> </div>
        </div>
      </td>
    </tr>
  </table>



<div class="choices">
  <div class="choice" (click)="apuesta('1')">
    <img src="../assets/numeros/1.png">
  </div>
  <div class="choice" (click)="apuesta('2')">
    <img src="../assets/numeros/2.png">
  </div>
  <div class="choice" (click)="apuesta('3')">
    <img src="../assets/numeros/3.png">
  </div>
  <div class="choice" (click)="apuesta('4')">
    <img src="../assets/numeros/4.png">
   
  </div>
  <div class="choice" (click)="apuesta('5')">
    <img src="../assets/numeros/5.png">
    
  </div>
  <div class="choice" (click)="apuesta('6')">
    <img src="../assets/numeros/6.png">
    
  </div>
  <div class="choice" (click)="apuesta('7')">
    <img src="../assets/numeros/7.png">
    
  </div>
  <div class="choice" (click)="apuesta('8')">
    <img src="../assets/numeros/8.png">
  </div>
  <div class="choice" (click)="apuesta('9')">
    <img src="../assets/numeros/9.png">
  </div>
</div>
<button class="btn btn-primary" (click)="apostar()">Apostar</button>



<router-outlet></router-outlet>
