@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Righteous&display=swap');



@import url(normalize.css);





a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0;
     padding:0;
}

h1 {
     font-size: 24px;
     font-family: 'Poppins',sans-serif;
}

h2 {
     font-size: 22px;
     font-family: 'Poppins',sans-serif;
}

h3 {
     font-size: 18px;
   
}






h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}




.banner_main {
     padding: 40px 0 90px 0;
}
.banner_main::after {content: "";
 position: absolute;
width: 297px;
height: 370px;
 right: 0;
 top: 0;
 background: url(./images/midil.png);
 background-repeat: no-repeat;
}
.banner_main::before {content: "";
 position: absolute;
width: 122px;

height: 276px;
 left: 0;
 bottom:0;
 background: url(./images/bottom.png);
 background-repeat: no-repeat;
}
.text-bg {
     text-align: center;
     padding-top: 20% ;
    
}

.text-bg h1 {
     color: #070605;
     font-size: 48px;
     line-height: 65px;
     font-weight: bold;
     padding-bottom:40px;
}


.text-bg a {
     font-size: 17px;
     background-color: #1d1c1d;
     color: #fff;
     padding: 13px 0px;
     width: 100%;
     max-width: 190px;
     text-align: center;
     display: inline-block;
     transition: ease-in all 0.5s;
}

.text-bg a:hover {
     background-color: #fe0131;
     color: #fff;
     transition: ease-in all 0.5s;
     border-radius: 26px;
}




.titlepage {
     text-align: center;
     padding-bottom: 50px;
}

.titlepage h2 {
     font-size: 40px;
     color: #1d1c1d;
     line-height: 35px;
     font-weight: bold;
     padding: 0;
     padding-bottom: 20px;
}



.red {color: #fe0131;}
.about .titlepage h2 {
     color: #272f43;
     padding-bottom: 0;
     
}




