<div  class="head_top">
    <div class="header">

    </div>

    <section class="banner_main">
       <div class="container">
          <div class="row">
             <div class="col-md-10 offset-md-1">

             </div>
             <div class="col-md-12">
                <div class="text-bg">
                   
                   <a href="/game">Play Now</a>
                </div>
             </div>
             
          </div>
       </div>
    </section>
 </div>


    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2>Time to <span class="red">Win</span> </h2>
               
             </div>
          </div>
       </div>
    </div>



